<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric Hare's Webpage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Eric Hare">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <meta name="description" content="A personal webpage for Eric Hare" />
        <meta name="keywords" content="eric, hare, statistics, iowa, washington, computer, science" />

        <link rel="shortcut icon" href="../favicon.ico">
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!--CSS styles-->
        <link rel="stylesheet" href="{{ page.root }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ page.root }}css/font-awesome.min.css">  
        <link rel="stylesheet" href="{{ page.root }}css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="{{ page.root }}css/magnific-popup.css">
        <link rel="stylesheet" href="{{ page.root }}css/style.css">
        <link id="theme-style" rel="stylesheet" href="{{ page.root }}css/styles/default.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="{{ page.root }}js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/TweenMax.min.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/jquery.carouFredSel-6.2.1-packed.js"></script>
        
        <script type="text/javascript" src="{{ page.root }}js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/masonry.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/magnific-popup.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/custom.js"></script>

        <!--/Javascript files-->

    </head>
    <body>

        <div id="wrapper">
            <a href="#sidebar" class="mobilemenu"><i class="icon-reorder"></i></a>

            <div id="sidebar">
                <div id="main-nav">
                    <div id="nav-container">
                        <div id="profile" class="clearfix">
                            <div class="portrate hidden-xs"></div>
                            <div class="title">
                                <a href="index.html"><h2>Eric Hare</h2></a>
                                <a href="index.html"><h3>Iowa State University</h3></a>
                            </div>
                            
                        </div>
                        
                        {% assign current = page.url | downcase | split: '/' %}
                        
                        <ul id="navigation">
                            <li {% if current[1] == 'index.html' %}class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}index.html">
                                <div class="icon icon-user"></div>
                                <div class="text">About Me</div>
                              </a>
                            </li>
                            
                           <li {% if current[1] == 'cv.pdf' %}class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}cv.pdf">
                                  <div class="icon icon-download-alt"></div>
                                  <div class="text">CV</div>
                              </a>
                            </li>
                            
                            <li {% if current[1] == 'projects.html' %}class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}projects.html">
                                <div class="icon icon-book"></div>
                                <div class="text">Projects</div>
                              </a>
                            </li> 
                            
                            <li {% if current[1] == 'classes.html' %}class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}classes.html">
                                <div class="icon icon-edit"></div>
                                <div class="text">Classes</div>
                              </a>
                            </li> 

                            <li {% if current[1] == 'teaching.html' %}class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}teaching.html">
                                <div class="icon icon-time"></div>
                                <div class="text">Teaching</div>
                              </a>
                            </li>

                            <li {% if current[1] == 'blog.html' %} class="currentmenu"{% endif %}{% if current[1] == 'blog' %} class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}blog.html">
                                <div class="icon icon-picture"></div>
                                <div class="text">Blog</div>
                              </a>
                            </li>

                            <li {% if current[1] == 'contact.html' %}class="currentmenu"{% endif %}>
                              <a href="{{ page.root }}contact.html">
                                  <div class="icon icon-calendar"></div>
                                  <div class="text">Contact</div>
                              </a>
                            </li>
                        </ul>
                    </div>        
                </div>
                
                <div class="social-icons">
                    <ul>
                        <li><a href="http://www.facebook.com/ericrhare"><i class="icon-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com/Raftysworld"><i class="icon-twitter"></i></a></li>
                        <li><a href="http://www.linkedin.com/profile/view?id=133389710"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>    
            </div>

            <div id="main">
            
            <!-- Begin page content -->
            <div class="container">
                <div class="page-header">
                    <h1>{{ page.title }}</h1>
                </div>
                {{ content }}
            </div>
        </div>
        
        <div id="footer">
            <div class="container">
                <p class="text-muted credit">Powered by <a href="http://pages.github.com">GitHub Pages</a></p>
            </div>
        </div>
        
        <script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-43236403-1', 'erichare.net');
  			ga('send', 'pageview');

		</script>
            
                
            </div>
        </div>
    </body>
</html>

