<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric Hare's Webpage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Eric Hare">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <meta name="description" content="A personal webpage for Eric Hare" />
        <meta name="keywords" content="eric, hare, statistics, iowa, washington, computer, science" />

        <link rel="shortcut icon" href="../favicon.ico">

        <!--CSS styles-->
        <link rel="stylesheet" href="{{ page.root }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ page.root }}css/font-awesome.min.css">  
        <link rel="stylesheet" href="{{ page.root }}css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="{{ page.root }}css/magnific-popup.css">
        <link rel="stylesheet" href="{{ page.root }}css/style.css">
        <link id="theme-style" rel="stylesheet" href="{{ page.root }}css/styles/default.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="{{ page.root }}js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/TweenMax.min.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/jquery.carouFredSel-6.2.1-packed.js"></script>
        
        <script type="text/javascript" src="{{ page.root }}js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/masonry.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>

        <script type="text/javascript" src="{{ page.root }}js/magnific-popup.js"></script>
        <script type="text/javascript" src="{{ page.root }}js/custom.js"></script>

        <!--/Javascript files-->

    </head>
    <body>

        <div id="wrapper">
            <a href="#sidebar" class="mobilemenu"><i class="icon-reorder"></i></a>

            <div id="sidebar">
                <div id="main-nav">
                    <div id="nav-container">
                        <div id="profile" class="clearfix">
                            <div class="portrate hidden-xs"></div>
                            <div class="title">
                                <h2>Eric Hare</h2>
                                <h3>Iowa State University</h3>
                            </div>
                            
                        </div>
                        <ul id="navigation">
                            <li class="currentmenu">
                              <a href="index.html">
                                <div class="icon icon-user"></div>
                                <div class="text">About Me</div>
                              </a>
                            </li>
                            
                           <li>
                              <a href="resume.pdf">
                                  <div class="icon icon-download-alt"></div>
                                  <div class="text">Resume</div>
                              </a>
                            </li>
                            
                            <li>
                              <a href="projects.html">
                                <div class="icon icon-book"></div>
                                <div class="text">Projects</div>
                              </a>
                            </li> 
                            
                            <li>
                              <a href="classes.html">
                                <div class="icon icon-edit"></div>
                                <div class="text">Classes</div>
                              </a>
                            </li> 

                            <li>
                              <a href="teaching.html">
                                <div class="icon icon-time"></div>
                                <div class="text">Teaching</div>
                              </a>
                            </li>

                            <li>
                              <a href="blog.html">
                                <div class="icon icon-picture"></div>
                                <div class="text">Blog</div>
                              </a>
                            </li>

                            <li>
                              <a href="contact.html">
                                  <div class="icon icon-calendar"></div>
                                  <div class="text">Contact</div>
                              </a>
                            </li>
                        </ul>
                    </div>        
                </div>
                
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>    
            </div>

            <div id="main">
            
            <!-- Begin page content -->
            <div class="container">
                <div class="page-header">
                    <h1>{{ page.title }}</h1>
                </div>
                {{ content }}
                
                {% if page.comments %}
                <br>
            	<div id="disqus_thread"></div>
            	<script type="text/javascript">
                	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                	var disqus_shortname = 'erichare'; // required: replace example with your forum shortname
                
                	/* * * DON'T EDIT BELOW THIS LINE * * */
                	(function() {
                  		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                	})();
            	</script>
            	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            	{% endif %} 
            </div>
        </div>
        
        <div id="footer">
            <div class="container">
                <p class="text-muted credit">Powered by <a href="http://pages.github.com">GitHub Pages</a></p>
            </div>
        </div>

        <script> 
            $(document).ready(function(){
            var str=location.href.toLowerCase();
            $(".nav li a").each(function() {
            if (str.indexOf("jekyll") > -1) {
               $("li.active").removeClass("active");
            $("li.jekyll").addClass("active");
            } else if (str.indexOf(this.href.toLowerCase()) > -1) {
            	$("li.active").removeClass("active");
            $(this).parent().addClass("active");
            }
            });
            })
        </script>
        
        <script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-43236403-1', 'erichare.net');
  			ga('send', 'pageview');

		</script>
            
                
            </div>
        </div>
    </body>
</html>

