<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Eric Hare - Home</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/style.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/skeleton.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/layout.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/docs.css">
    <link rel="stylesheet" href="{{ page.root }}/stylesheets/prettyPhoto.css">
    
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- JS -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/tabs.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/bootstrap-carousel.js"></script>
    <script src="javascripts/jquery.prettyPhoto.js"></script>
    <script src="javascripts/jquery.masonry.min.js"></script>
    <script src="javascripts/jquery.tweet.js"></script>
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>

    <div class="container">

        <aside id="aside-conteiner" class="four columns">
            
            <div class="logo">
                <h1>Eric Hare</h1>
                <h4>Iowa State University</h4>
                <div class="bottom-img"></div>
            </div>
            
            <nav>
                <ul class="main-menu">
                    <li>
                        <a href="index.html"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="cv.html"><span>CV</span></a>
                    </li>
                    <li>
                        <a href="teaching.html"><span>Teaching</span></a>
                    </li>
                    <li>
                        <a href="research.html"><span>Research</span></a>
                    </li>
		    <li>
                        <a href="blog.html"><span>Blog</span></a>
                    </li>
                    <li>
                        <a href="contact.html"><span>Contact</span></a>
                    </li>
                </ul>
            </nav><!-- main-menu -->

        </aside><!-- aside-conteiner -->
        
        <section>
	{{ content }}
        </section>

    </div><!-- container -->

<!-- End Document -->
</body>
</html>
